<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Listen_Port" value="35263"/>
    <add key="CCC" value="Auto"/>
    <add key="ACK" value="Auto"/>
    <add key="Filter" value=""/>
    <add key="SMTP_Host" value="Host"/>
    <add key="SMTP_Port" value="Port"/>
    <add key="SMTP_Username" value="Username"/>
    <add key="SMTP_Password" value="Password"/>
    <add key="SMTP_Sender" value="Sender"/>
    <add key="SMTP_Recipient" value="Recipient"/>
  </appSettings>
</configuration>
